10 # max allowed unique category item in a feature column (for not ignoring it)
8 # num_compers
43128 # number of samples in dataset
1000 # subtree_D, threshold to decide on subtree task or col_split task
1 # NO_WARNING: 1 = true, 0 = false
yanda2/3 # HDFS path train file
NOT_USED # HDFS path meta file, not used in deep forest as it will be reset as train_file/meta.csv # not used in testing
9 # which column is y? this is useless in deep forest as it will be reset from data source # used in testing
job # directory for putting job logs and tree outputs
1 # SAVE_TREE: 1 = true, 0 = false
10000 # BFS_PRIORITY_THRESHOLD, priority threshold
1 # ACTIVE_TREES_THRESHOLD
0,1,2,3,4,5,6,7,8,9 # classes