ET # config type : Completely Random Trees
-1 # percentage of columns except Y to consider for each tree
# 0 is sqrt (default of sklearn)
# ratio should be within (0, 1]
# -x means taking x columns
1 # 1 = true, 0 = false sample column for each node
1 # number of trees
20 #9999 # MAX_TREE_DEPTH
8 # 11 # IMPURITY_FUNC:
# IMPURITY_ENTROPY = 8
# IMPURITY_GINI = 9
# IMPURITY_CLASSIFICATION_ERROR = 10
# IMPURITY_VARIANCE = 11
1 # min-sample-leaf